name: on_the_go
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.2.3
  go_router: ^17.0.1
  google_fonts: ^8.0.0
  carousel_slider: ^5.0.0
  curved_labeled_navigation_bar: ^2.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/logos/
    - assets/icons/
